<!-- //注册登录页 -->

<link rel="stylesheet" type="text/css" href="/lib/css/access.scss">



<!-- <div class="access fn-clear fn-hide "> -->

<div class="access fn-clear fn-hide">

		
	<!-- //登录 -->
	<div class="accessCtn fn-left fn-clear fn-hide" id="loginWapper">
		<div class="loginPhoto">
			<img src="/lib/images/mascot.png" width='180' height="180">
		</div>
		<div class="inputWrap fn-clear">
			<form id="loginform"  method="post">
				<input type='text' value='' placeholder='账号' name="name"/>
				<input type='password' value='' placeholder='密码' name="pwd"/>
				<button  class='inputSubmit' id = "loginBtn" >登录</button>
			</form>
		</div>
		<div class="acessTips fn-clear">
			<div class="acessTipsLeft fn-left">忘记密码？</div>
			<div class="acessTipsLeft acessNew fn-right">新用户</div>
		</div>
	</div>
	<!-- //登录 end -->

	<!-- //注册 -->
	<div class="accessCtn fn-left fn-clear" id="registerWapper">
		<h3>
			注册新用户
		</h3>
		<div class="inputWrap fn-clear">
			<form id="register" action="" method="post">
				<div class='inputPhone fn-clear'>
					<input class='fn-left' type='number' value='' placeholder='请使用手机号码注册' name="phone"/>
					<span class='fn-right' id = "sendVerifty">发送验证码</span>
				</div>
				<input type='number' value='' placeholder='填写验证码' name="verify"/>
				<input type='password' value='' placeholder='密码' name="pwd"/>
				<button class='inputSubmit' id = "registerBtn">注册</button>
			</form>
		</div>
		<div class="acessTips fn-clear">
			<div class="acessTipsLeft fn-left"></div>
			<div class="acessTipsLeft acessOld fn-right">老用户</div>
		</div>
	</div>
	<!-- //注册 end -->
	<script type="text/javascript">

		window.onload = function(){

			$("#sendVerifty").click(function(){
				var phone = $(".inputPhone input").val()
				if(!checkout('phone',[phone])) return false;
				url = serverip +"/Ipadinterface/sendverify"
				$.post( url , { "phone": phone },
			        function(data){
			            if(data.code==200){
			                $('#sendVerifty').addClass('active');
			            }else{

			            }
			            
			        }, "json"
		 	   );
			   return false;
			})

			$('#registerBtn').click(function(){
				var phone = $(".inputPhone input").val()
				var verifty =  $('[name="verify"]').val()
				var pwd = $('[name="pwd"]').val()
				console.log(phone + verifty + pwd)
				if(!checkout('phone',[phone])) return false;
         		if(!checkout('verify',[verifty])) return false;
				$.ajax({
					url : serverip+"/Ipadinterface/register",
					type : "post",
					data : $("#register").serializeArray(),
					success:function(data){
						console.log(data)
						// kset("sid",data.data.sid);
						// kset("icon",serverpic + data.data.spicture);
						// $(".access").addClass("fn-hide");
						// hideKeyboard();
						
					},
					complete:function(xhr, status){
						
						// return false;
					},
					error:function(){
					}

				})
				return false;
			})


			$('.acessNew').tap(function(){
				$("#registerWapper").removeClass("fn-hide");
				$('.accessCtn').addClass('accessCtnMove');
				return false;
			});
		
			$('.acessOld').tap(function(){
				$("#loginWapper").removeClass("fn-hide");
				$('.accessCtn').removeClass('accessCtnMove');
				return false;
			});
			// $('#loginform').attr("action", serverip + "/Ipadinterface/login")
			// if ( kget("sid") == null ) {
			// 	$("#loginWapper").addClass("fn-hide");
			// 	$("#registerWapper").addClass("fn-hide");
			// 	$(".access").addClass("fn-hide");
			// }else{
			// 	$("#registerWapper").removeClass("fn-hide");
			// 	$("#loginWapper").removeClass("fn-hide");
			// }
			if ( kget("sid") == null ) {
				$("#registerWapper").addClass("fn-hide");
			}
			$('#loginBtn').tap(function(){
				// $("#loginBtn").preventDefault();
				$.ajax({
					url : serverip+"/Ipadinterface/login",
					type : "post",
					data : $("#loginform").serializeArray(),
					success:function(data){

						kset("sid",data.data.sid);
						kset("icon",serverpic + data.data.spicture);
						$(".access").addClass("fn-hide");
						// hideKeyboard();
						
					},
					complete:function(xhr, status){
						
						// return false;
					},
					error:function(){
					}

				})
				return false;
			}) 
		};
	</script>

</div>