<!-- //注册登录页 -->

<link rel="stylesheet" type="text/css" href="/lib/css/access.scss">
<div class="access fn-clear">
		
	<!-- //登录 -->
	<div class="accessCtn fn-clear fn-hide">
		<div class="loginPhoto">
			<img src="/lib/images/mascot.png" width='180' height="180">
		</div>
		<div class="inputWrap fn-clear">
			<form>
				<input type='text' value='' placeholder='账号' />
				<input type='password' value='' placeholder='密码' />
				<button class='inputSubmit'>登录</button>
			</form>
		</div>
		<div class="acessTips fn-clear">
			<div class="acessTipsLeft fn-left">忘记密码？</div>
			<div class="acessTipsLeft fn-right">新用户</div>
		</div>
	</div>
	<!-- //登录 end -->

	<!-- //注册 -->
	<div class="accessCtn fn-clear">
		<h3>
			注册新用户
		</h3>
		<div class="inputWrap fn-clear">
			<form>
				<input type='text' value='' placeholder='账号' />
				<input type='password' value='' placeholder='密码' />
				<button class='inputSubmit'>登录</button>
			</form>
		</div>
		<div class="acessTips fn-clear">
			<div class="acessTipsLeft fn-left"></div>
			<div class="acessTipsLeft fn-right">老用户</div>
		</div>
	</div>
	<!-- //注册 end -->


</div>