<!-- //答疑列表 -->
<link rel="stylesheet" type="text/css" href="/lib/css/answer.scss">
<div class="answer fn-clear">
	<div class="answerCtn">
		<div class="answerHead fn-clear">
			<div class="answerHeadSelect">
				<select>
					<option>全部</option>
					<option>高三</option>
				</select>
				<label>▼</label>
			</div>
			<div class="answerHeadSelect">
				<select>
					<option>全部</option>
					<option>数学</option>
				</select>
				<label>▼</label>
			</div>	
		</div>
		<div class="answerLi fn-clear">
			<ul>
				<li class='fn-clear'>
					<img class="fn-left" src="/lib/images/pic2.png">
					<div class="answerLiTxt fn-right">
						<ul>
							<li>
								<h1>
									肖夏雯 
									<em class='sexWoman'></em>
									<span> ( <i class='like'></i> 41 )</span>
								</h1>
								<p>上海交大-数学系</p>
								<p>辅助学科：物理、数学、英语</p>
								<div class='answerLiTxtInforBtn'>
									<i class='label1'>讲得真好</i>
									<i class='label2'>数学高手</i>
									<i class='label3'>厉害的老师</i>
								</div>
							</li>
							<li class='answerLiTxtAppointment answerLiTxtAppointmentNot'><i>点击答疑</i></li>
						</ul>
					</div>
				</li>
				<li class='fn-clear'>
					<img class="fn-left" src="/lib/images/pic2.png">
					<div class="answerLiTxt fn-right">
						<ul>
							<li>
								<h1>
									肖夏雯 
									<em class='sexWoman'></em>
									<span> ( <i class='like'></i> 41 )</span>
								</h1>
								<p>上海交大-数学系</p>
								<p>辅助学科：物理、数学、英语</p>
								<div class='answerLiTxtInforBtn'>
									<i class='label1'>讲得真好</i>
									<i class='label2'>数学高手</i>
									<i class='label3'>厉害的老师</i>
								</div>
							</li>
							<li class='answerLiTxtAppointment answerLiTxtAppointmentNot'><i>点击答疑</i></li>
						</ul>
					</div>
				</li>
				<li class='fn-clear'>
					<img class="fn-left" src="/lib/images/pic2.png">
					<div class="answerLiTxt fn-right">
						<ul>
							<li>
								<h1>
									肖夏雯 
									<em class='sexWoman'></em>
									<span> ( <i class='like'></i> 41 )</span>
								</h1>
								<p>上海交大-数学系</p>
								<p>辅助学科：物理、数学、英语</p>
								<div class='answerLiTxtInforBtn'>
									<i class='label1'>讲得真好</i>
									<i class='label2'>数学高手</i>
									<i class='label3'>厉害的老师</i>
								</div>
							</li>
							<li class='answerLiTxtAppointment answerLiTxtAppointmentNot'><i>点击答疑</i></li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>