<!DOCTYPE html>
<html>
<head>
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome'>
	<meta name='viewport' content='width=device-width,initial-scale=1.0,maxinum-scale=1.0,user-scalable=no,target-densitydpi=device-dpi'>
	<title>yousi For Ipad</title>
	<link rel="stylesheet" type="text/css" href="/lib/css/base.scss">
	<link rel="stylesheet" type="text/css" href="/lib/css/index.scss">
	<script type="text/javascript" src="/lib/js/zepto.min.js"></script>
	<script type="text/javascript" src="/lib/js/main.js"></script>
	<script type="text/javascript" src="/lib/js/server.js"></script>
</head>
<body>