<!-- //遮罩层 -->
<link rel="stylesheet" type="text/css" href="/lib/css/putQuestion.scss">
<div class="putQuestion fn-clear fn-hide">
	<div class="putQuestionTitle">
		创建问题
		<span>取消</span>
	</div>
	<div class="putQusetionSelect fn-clear">
		<div class="putQusetionSelectDiv">
			<select>
				<option>初中一年级</option>
				<option>初中一年级</option>
			</select>
			<label>▼</label>
		</div>
		<div class="putQusetionSelectDiv">
			<select>
				<option>初中一年级</option>
				<option>初中一年级</option>
			</select>
			<label>▼</label>
		</div>
	</div>

	<div class="putQuestionCtn fn-clear">
		
		<!-- //上传图片 -->
		<div class="putQuestionPic fn-left">
			<img src="" class="fn-hide">
		    <input type="file" class='fn-hide'>	
			<span class='active'>点击给问题拍照</span>
		</div>
		<!-- //上传图片 end -->

		<!-- //问题说明 -->
		<div class="putQuestionDes fn-right">
			
			<div class="putQuestionDesTitle">
				提问内容
				<span>语音输入</span>
			</div>

			<div class="putQuestionDecWrap">
				<input type="text" x-webkit-speech />
				<!-- <textarea placeholder='填写问题说明...'></textarea> -->
			</div>

			<div class="putQuestionDesTitle">
				请输入内容
			</div>

		</div>
		<!-- //问题说明end -->

	</div>

	<div class="putQuestionSubmit">提交问题</div>

</div>