<!-- //问题内容页 -->
<link rel="stylesheet" type="text/css" href="/lib/css/questionInfo.scss">
<div class="questionInfo fn-clear fn-hide">
	<div class="questionInfoHead fn-clear">
		<i class='questionInfoHeadBack'></i>
		2014-06-85的提问
	</div>
	<div class="questionInfoCtn fn-clear">
		<ul>
			<li class='fn-clear'>
				<div class="questionInfoCtnName fn-left">
					<img src="/lib/images/pic2.png" width="194" height="194">
					<p>周兴天</p>
				</div>
				<div class="questionInfoCtnTxt fn-right">
					<img src="/lib/images/pic1.jpg">
				</div>
			</li>
			<li class='fn-clear'>
				<div class="questionInfoCtnName fn-left">
					<img src="/lib/images/pic2.png" width="194" height="194">
					<p>周兴天</p>
				</div>
				<div class="questionInfoCtnTxt fn-right">
					<p>下面是解题过程</p>
					<div class="teacherPersonVideo">
						<img src="/lib/images/pic3.jpg" width="260" height="150">
						<i></i>
					</div>
				</div>
			</li>
			<li class='fn-clear'>
				<div class="questionInfoCtnName fn-left">
					<img src="/lib/images/pic2.png" width="194" height="194">
					<p>周兴天</p>
				</div>
				<div class="questionInfoCtnTxt fn-right">
					<img src="/lib/images/pic1.jpg">
				</div>
			</li>
		</ul>
	</div>

</div>