<!-- //问题页面 -->
<link rel="stylesheet" type="text/css" href="/lib/css/question.scss">
<div class="question fn-clear">
	<div class="questionCtn">
		<div class="questionHead fn-clear">
			<i class='navBtn'>我的提问</i>
			<i class='navBtnAvtive'>随便看看</i>
			<i class='btn'>提出问题</i>
		</div>
		<div class="questionLi fn-clear">
			<ul>
				<li class='fn-clear'>
					<img src="/lib/images/pic1.jpg" width="300" height="208">
					<div class='fn-right'>
						<h3>2014-06-14的提问<span class='status1'>[已解答]</span></h3>
					</div>
				</li>
				<li class='fn-clear'>
					<img src="/lib/images/pic1.jpg" width="300" height="208">
					<div class='fn-right'>
						<h3>2014-06-14的提问<span class='status2'>[未解答]</span></h3>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>