<!-- //家教页面 -->
<link rel="stylesheet" type="text/css" href="/lib/css/teacher.scss">
<div class="teacher fn-clear">
	<div class="teacherCtn">
		<div class="teacherHead fn-clear">
			<i class='navBtnAvtive'>教师列表</i>
			<i class='navBtn'>曾经授课</i>
			<i class='navBtn'>我的关注</i>
		</div>
		<div class="teacherLi fn-clear">
			<ul>
				<li class='fn-clear'>
					<img class="fn-left" src="/lib/images/pic2.png">
					<div class="teacherLiTxt fn-right">
						<ul>
							<li>
								<h1>
									肖夏雯 
									<em class='sexWoman'></em>
									<span> ( <i class='like'></i> 41 )</span>
								</h1>
								<p>上海交大-数学系</p>
								<p>吉林长春人</p>
								<p>辅助学科：物理、数学、英语</p>
								<div class='teacherLiTxtInforBtn'>
									<i>查看日历</i>
									<i>查看评价</i>
								</div>
							</li>
							<li class='teacherLiTxtPrice'>￥40元/时</li>
							<li class='teacherLiTxtAppointment'><i>预约家教</i></li>
						</ul>
					</div>
				</li>
				
			</ul>
		</div>
	</div>
</div>