<!-- //教师个人信息页面 -->
<link rel="stylesheet" type="text/css" href="/lib/css/teacherInfo.scss">
<div class="teacherInfo fn-clear">

	<div class="teacherInfoHead fn-clear">
		<i class='teacherInfoHeadBack'></i>
		肖夏雯<span>老师</span>
		<i class='teacherInfoHeadFollow'>关注</i>
	</div>
	<!-- //个人信息 -->
	<div class="teacherInfoMain fn-clear">
		<div class="teacherInfoMainPic fn-left">
			<img src="/lib/images/pic2.png" width="180" height="180">
			<span>当前在线</span>
		</div>
		<div class="teacherInfoMainTxt fn-right">
			<h1>
				肖夏雯 
				<em class='sexWoman'></em>
				<span> ( <i class='like'></i> 41 )</span>
				<i>上海交大-数学系</i>
			</h1>
			<p>上海交大-数学系</p>
			<p>吉林长春人</p>
			<p>辅助学科：物理、数学、英语</p>
		</div>
	</div>
	<!-- //个人信息 end-->

	<!-- //切换按钮 -->
	<div class="teacherInfoSwitch fn-clear">
		<span class='active'>教师资料</span>
		<span>时间日历</span>
		<span>学生评价</span>
	</div>
	<!-- //切换按钮 end -->

	<!-- //切换卡内容 -->
	<div class="teacherInfoCtn fn-clear">
		
		<!-- //教师资料 -->
		<link rel="import"  href="/view/html/teacherPerson.html?__inline">
		<!-- //教师资料 end -->

		<!-- //时间日历 -->
		<link rel="import"  href="/view/html/teacherCalendar.html?__inline">
		<!-- //时间日历 end -->

		<!-- //学生评价 -->
		<link rel="import"  href="/view/html/teacherAppraise.html?__inline">
		<!-- //学生评价 end -->

	</div>
	<!-- // 切换卡内容 end -->

	<!-- //底部按钮 -->
	<div class="teacherInfoBtn fn-clear">
		<i>点击答疑</i>
		<i>预约家教</i>
	</div>
	<!-- //底部按钮 end -->
	<script type="text/javascript">
		$(function(){

			function getTeacherInfo(event){
				alert(event.val())
			}
		})
	</script>
</div>