<!-- //教师个人信息页面 -->
<link rel="stylesheet" type="text/css" href="/lib/css/teacherInfo.scss">
<div class="teacherInfo fn-clear">

	<div class="teacherInfoHead fn-clear">
		<i class='teacherInfoHeadBack'></i>
		<em>肖夏雯</em><span>老师</span>
		<i class='teacherInfoHeadFollow'>关注</i>
	</div>
	<!-- //个人信息 -->
	<div class="teacherInfoMain fn-clear">
		<div class="teacherInfoMainPic fn-left">
			<img src="/lib/images/pic2.png" width="180" height="180">
			<span>当前在线</span>
		</div>
		<div class="teacherInfoMainTxt fn-right">
			<!-- <h1>
				肖夏雯 
				<em class='sexWoman'></em>
				<span> ( <i class='like'></i> 41 )</span>
				<i>上海交大-数学系</i>
			</h1>
			<p>上海交大-数学系</p>
			<p>吉林长春人</p>
			<p>辅助学科：物理、数学、英语</p> -->
		</div>
	</div>
	<!-- //个人信息 end-->

	<!-- //切换按钮 -->
	<div class="teacherInfoSwitch fn-clear">
		<span class='active' value = "1">教师资料</span>
		<span  value = "2">时间日历</span>
		<span  value = "3">学生评价</span>
	</div>
	<!-- //切换按钮 end -->

	<!-- //切换卡内容 -->
	<div class="teacherInfoCtn fn-clear">
		
		<!-- //教师资料 -->
		<div class = "teacherInfoSwitchControl1">
			<link rel="import"  href="/view/html/teacherPerson.html?__inline">
		</div>
		<!-- //教师资料 end -->
		
		<!-- //时间日历 -->
		<div class = "teacherInfoSwitchControl2">
			<link rel="import"  href="/view/html/teacherCalendar.html?__inline">
		</div>
		<!-- //时间日历 end -->

		<!-- //学生评价 -->
		<div class = "teacherInfoSwitchControl3">
			<link rel="import"  href="/view/html/teacherAppraise.html?__inline">
		</div>
		<!-- //学生评价 end -->

	</div>
	<!-- // 切换卡内容 end -->

	<!-- //底部按钮 -->
	<div class="teacherInfoBtn fn-clear">
		<i>点击答疑</i>
		<i>预约家教</i>
	</div>
	<!-- //底部按钮 end -->
	<script type="text/javascript">
			var teacherInfo
			function setTeacherInfo(tid){
				url = serverip + "/Ipadinterface/teacherShow/?id="+ tid
				$.get(url,function(data){
					teacherInfo = data.data
					html = ''
					html = html + '<h1>'
					html = html + '	'+teacherInfo.t_realname+' '
					if (teacherInfo.t_sex == 1 ){
						html = html + '	<em class=\'sexBoy\'></em>'
					}else{
						html = html + '	<em class=\'sexWoman\'></em>'
					}
					html = html + '	<span> ( <i class=\'like\'></i> 41 )</span>'
					html = html + '	<i>'+teacherInfo.t_schoolname+'-'+teacherInfo.t_departmentname+'</i>'
					html = html + '</h1>'
					html = html + '<p>'+teacherInfo.t_schoolname+'-'+teacherInfo.t_departmentname+'</p>'
					html = html + '<p>'+teacherInfo.t_cityname+'</p>'
					var subject = teacherInfo.tp_teach_subject
					subject = subject.replace(/<br\/>/g,"")
					subject = subject.replace(/<span>/g,"")
					subject = subject.replace(/<\/span>/g,"  ")
					html = html + '<p>辅助学科：'+subject+'</p>'
					$(".teacherInfoMainPic img").attr("src",serverpic + teacherInfo.t_picture1)
					$('.teacherInfoHead em').html(teacherInfo.t_realname);
					$('.teacherInfoMainTxt').html(html)
					$('.teacherInfo').addClass('teacherStatusShow');
					setTeacherPersonalInfo()
				})
			}

			$(".teacherInfoSwitch span").click(function(){
				$(this).addClass("active")
				$(this).siblings().removeClass("active")
				var sid = $(this).attr("value")
				$(".teacherInfoSwitchControl"+sid).removeClass("fn-hide");
				$(".teacherInfoSwitchControl"+sid).siblings().addClass("fn-hide");

			})
	</script>
</div>