<!-- //header --> 
<link rel="import"  href="/view/html/head.html?__inline">
<!-- //header end-->

<!-- //wrap -->
<div class="wrap fn-clear">
	
	<!-- //toolBar -->
	<link rel="import"  href="/view/html/toolbar.html?__inline">
	<!-- //toolBar end -->

	<!-- //main -->
	<div class="main fn-clear">
		
		<!-- navbar -->
		<link rel="import"  href="/view/html/navbar.html?__inline">
		<!-- navbar end-->

		<!-- //主要内容区 -->
		<div class="mainCtn fn-clear fn-left">
			
			<!-- //提问页 -->
			<link rel="import"  href="/view/html/question.html?__inline">
			<!-- //提问页 end -->

			<!-- //家教页面 -->
			<link rel="import"  href="/view/html/teacher.html?__inline">
			<!-- //家教页面 end -->

			<!-- //答疑页面 -->
			<link rel="import"  href="/view/html/answer.html?__inline">
			<!-- //答疑页面 end -->

		</div>
		<!-- //主要内容区 end-->

		<!-- //右侧 -->
		<link rel="import"  href="/view/html/mainRight.html?__inline">
		<!-- //右侧 end-->

		<!-- //弹出区 -->

			<!-- //家教弹出区 -->
			<link rel="import"  href="/view/html/teacherInfo.html?__inline">
			<!-- //家教弹出区 end -->

			<!-- //提问弹出区 -->
			<link rel="import"  href="/view/html/questionInfo.html?__inline">
			<!-- //提问弹出区 end -->

		<!-- //弹出区 end -->

	</div>
	<!-- //main end-->


</div>
<!-- //wrap end -->




<!-- //footer -->
<link rel="import"  href="/view/html/footer.html?__inline">
<!-- //footer end>